.item-card {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    font-family: 'LINESeedKR-Bd';
}

.item-card img {
    width: 100%;
    height: 250px;
    border-radius: 10%;
}

.item-card .item-details {
    padding-top: 20px;
}

.item-card h2 {
    font-size: 1em;
}

.item_name {
    color: black;
    padding: 8px;
    text-align: left;
}   

.item_p {
    color: gray;
    padding: 8px;
    text-align: left;
    font-size: .9em;
}

.sx {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%) translateY(50px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.button-shopping {
    border: 0;
    background-color: inherit;
}

.item-card:hover .sx,
.item-card.added .sx {
    transform: translateX(-50%) translateY(0);
    bottom: 40%;
    opacity: 1;
    font-family: 'LINESeedKR-Bd';
}

.shopping-cart-icon {
    margin: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.item-card:hover .shopping-cart-icon,
.item-card.added .shopping-cart-icon {
    font-size: 2em;
}

.shopping-cart-icon:hover {
    color: red;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    gap: 10px;
}

.page-link {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
}

.page-link:hover {
    background-color: #f0f0f0;
}
